!!! 5
html 
  append head
    script(src="http://code.jquery.com/jquery-1.7.2.min.js")
    title= title
    link(rel='stylesheet', 
    href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    section.container!= body 