h1 Create a Flock
form(method='post', action='/flocks')
  fieldset
    legend Add a Flock
    div.clearfix
      label Flock Name
      div.input
        input(name='name', class='xlarge')
    div.clearfix
      label Organizer Name
      div.input
        input(name='organizer', class='xlarge')
    div.clearfix
      label Latitude
      div.input
        input(name='latitude', class='xlarge')
    div.clearfix
      label Longitude
      div.input
        input(name='longitude', class='xlarge')
    div.actions
      input(type='submit', value='Save', class='btn primary')
      input(type='reset', class='btn', value="Cancel")